.frame {
  max-width: 1440px;
  margin: 0 auto;
}

.transp-border-bottom {
  border-bottom: 1px solid rgba(133, 143, 164, 0.15);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-display: swap;
  background-color: #F7F7F7;
}

h2 {
  font-size: 30px;
  line-height: 33px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
}

header .header-bg-menu-1 {
  background-color: #1a1a25;
}

header .header-bg-menu-1 .frame .header-menu-1 {
  margin: 0 15px;
  max-width: 1410px;
  height: 81px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-bg-menu-1 .frame .header-menu-1-wrapper-1 {
  width: 44.5%;
  max-width: 392px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-bg-menu-1 .frame .header-menu-1-wrapper-1 .city-change {
  width: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-appearance: 0;
     -moz-appearance: 0;
          appearance: 0;
  border: 0;
  background-color: #1a1a25;
  color: #858fa4;
  font-size: 14px;
  line-height: 140%;
}

header .header-bg-menu-1 .frame .header-menu-1-wrapper-1 .city-change img {
  margin-bottom: 2px;
  padding-left: 10px;
}

header .header-bg-menu-1 .frame .header-menu-1-wrapper-2 {
  width: 55.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #909cb5;
  font-size: 14px;
  line-height: 140%;
}

header .header-bg-menu-1 .frame .header-menu-1-wrapper-2 .header-partners {
  padding: 0 10px;
  height: 37px;
  background-color: #384255;
  -webkit-appearance: 0;
     -moz-appearance: 0;
          appearance: 0;
  border: none;
  border-radius: 6px;
  text-align: middle;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  color: white;
}

header .header-bg-menu-1 .frame .header-menu-1-wrapper-2 .small-vertical-line-1 {
  width: 1px;
  height: 30px;
  border-radius: 1px;
  background-color: #858fa4;
  opacity: 0.15;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 6px;
}

header .header-bg-menu-1 .frame .header-menu-1-wrapper-2 .header-phone {
  text-align: center;
  color: white;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
}

header .header-bg-menu-1 .frame .header-menu-1-wrapper-2 .city-change {
  margin-left: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-appearance: 0;
     -moz-appearance: 0;
          appearance: 0;
  border: 0;
  background-color: #1a1a25;
  color: #858fa4;
  font-size: 14px;
  line-height: 20px;
}

header .header-bg-menu-1 .frame .header-menu-1-wrapper-2 .city-change img {
  margin-bottom: 1px;
  padding-left: 4px;
}

header .header-bg-menu-1 .frame .header-menu-1-wrapper-2 .call-me {
  text-align: center;
}

header .header-bg-menu-1 .frame .header-menu-1-wrapper-2 .call-me a {
  color: #f53b49;
  font-size: 14px;
  line-height: 140%;
  text-decoration: none;
}

header .header-bg-menu-1 .frame .header-menu-1-wrapper-2 .small-vertical-line-2 {
  width: 1px;
  height: 30px;
  border-radius: 1px;
  background-color: #858fa4;
  opacity: 0.15;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 6px;
}

header .header-bg-menu-1 .frame .header-menu-1-wrapper-2 .header-auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 14px;
  line-height: 20px;
}

header .header-bg-menu-1 .frame .header-menu-1-wrapper-2 .header-auth img {
  margin-left: 14px;
}

header .header-bg-menu-2 {
  background-color: #1a1a25;
}

header .header-bg-menu-2 .frame .header-menu-2 {
  margin: 0 15px;
  max-width: 1410px;
  height: 81px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-bg-menu-2 .frame .header-menu-2 .header-menu-2-wrapper-1 {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-bg-menu-2 .frame .header-menu-2 .header-menu-2-wrapper-1 .header-catalogue-button {
  border: 0;
  border-radius: 4px;
  width: 127px;
  height: 49px;
  background-color: #f53b49;
}

header .header-bg-menu-2 .frame .header-menu-2 .header-menu-2-wrapper-1 .header-catalogue-button:hover {
  background-color: #e32a38;
}

header .header-bg-menu-2 .frame .header-menu-2 .header-menu-2-wrapper-1 .header-catalogue-button:active {
  background-color: #e32a38;
}

header .header-bg-menu-2 .frame .header-menu-2 .header-menu-2-wrapper-1 .header-catalogue-button div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-bg-menu-2 .frame .header-menu-2 .header-menu-2-wrapper-1 .header-catalogue-button span {
  margin-left: 10px;
  color: white;
  font-family: Inter;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-top: 3px;
}

header .header-bg-menu-2 .frame .header-menu-2 .header-menu-2-wrapper-1 .search {
  background-color: #1a1a25;
  border: 0;
  margin-top: 2px;
}

header .header-bg-menu-2 .frame .header-menu-2 .header-menu-2-wrapper-1 .small-vertical-line {
  width: 1px;
  height: 30px;
  border-radius: 1px;
  background-color: #858fa4;
  opacity: 0.15;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 6px;
  height: 40px;
}

header .header-bg-menu-2 .frame .header-menu-2 .header-menu-2-wrapper-1 a {
  text-decoration: none;
  font-family: Inter;
  color: white;
  font-size: 14px;
  line-height: 140%;
}

header .header-bg-menu-2 .frame .header-menu-2 .header-menu-2-wrapper-2 {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

header .header-bg-menu-2 .frame .header-menu-2 .header-menu-2-wrapper-2 .right-submenu {
  min-width: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-bg-menu-3 {
  background-color: #2a2c38;
}

header .header-bg-menu-3 .frame .header-menu-3 {
  margin: 0 15px;
  text-align: left;
}

header .header-bg-menu-3 .frame .header-menu-3 .header-filters {
  max-width: 1410px;
  height: 44px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-bg-menu-3 .frame .header-menu-3 .header-filters-wrapper {
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-bg-menu-3 .frame .header-menu-3 .header-filters-wrapper .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

header .header-bg-menu-3 .frame .header-menu-3 .header-filters-wrapper .filter span {
  color: white;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
}

header .header-bg-menu-3 .frame .header-menu-3 .header-filters-wrapper .filter img {
  margin-left: 10px;
  margin-top: 1px;
}

header .header-bg-menu-3 .frame .header-menu-3 .header-filters-wrapper .small-vertical-line {
  width: 1px;
  height: 30px;
  border-radius: 1px;
  background-color: #858fa4;
  opacity: 0.15;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 6px;
}

main .banner-1 {
  max-width: 1800px;
  height: 500px;
  margin: 39px auto 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#dedfe7), to(rgba(233, 234, 239, 0))), #e9eaef;
  background: linear-gradient(180deg, #dedfe7 0%, rgba(233, 234, 239, 0) 100%), #e9eaef;
  border-radius: 10px;
}

main .banner-1 .frame .banner-1-content {
  position: relative;
  max-width: 1410px;
  margin: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .banner-1 .frame .banner-1-content-descr {
  max-width: 36%;
  margin-top: 83px;
}

main .banner-1 .frame .banner-1-content-descr p:first-child {
  padding: 0;
  margin-top: 0;
  color: #f53b49;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

main .banner-1 .frame .banner-1-content-descr p:nth-child(2) {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: left;
}

main .banner-1 .frame .banner-1-content-descr p:nth-child(3) {
  margin-top: 24px;
  margin-bottom: 24px;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: left;
}

main .banner-1 .frame .banner-1-content-descr button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #f53b49;
  background-color: transparent;
  border-radius: 4px;
  height: 42px;
  padding-left: 20px;
  padding-right: 20px;
  color: #f53b49;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  position: absolute;
  z-index: 1;
}

main .banner-1 .frame .banner-1-content-descr button:hover {
  background-color: #f53b49;
  color: white;
}

main .banner-1 .frame .banner-1-content-red-triangle {
  position: absolute;
  max-width: 1080px;
  scale: 1.1;
  top: 403.2px;
  opacity: 0.75;
  -webkit-filter: saturate(1.6) contrast(1.5);
          filter: saturate(1.6) contrast(1.5);
}

main .banner-1 .frame .banner-1-content-img-buttons {
  max-width: 54%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .banner-1 .frame .banner-1-content-img-buttons .banner-1-arrow-buttons {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

main .banner-1 .frame .banner-1-content-img-buttons .banner-1-arrow-buttons .to-left-arrow-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.07), 0px 0px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.07), 0px 0px 25px rgba(0, 0, 0, 0.1);
}

main .banner-1 .frame .banner-1-content-img-buttons .banner-1-arrow-buttons .to-left-arrow-button span,
main .banner-1 .frame .banner-1-content-img-buttons .banner-1-arrow-buttons .to-left-arrow-button span::before,
main .banner-1 .frame .banner-1-content-img-buttons .banner-1-arrow-buttons .to-left-arrow-button span::after {
  display: block;
  border-radius: 5px;
  height: 3px;
}

main .banner-1 .frame .banner-1-content-img-buttons .banner-1-arrow-buttons .to-left-arrow-button span {
  width: 16px;
  background-color: #f53b49;
}

main .banner-1 .frame .banner-1-content-img-buttons .banner-1-arrow-buttons .to-left-arrow-button span::before {
  content: "";
  width: 55%;
  -webkit-transform: translate(0px, 3px) rotate(45deg);
          transform: translate(0px, 3px) rotate(45deg);
  background-color: inherit;
}

main .banner-1 .frame .banner-1-content-img-buttons .banner-1-arrow-buttons .to-left-arrow-button span::after {
  content: "";
  width: 55%;
  -webkit-transform: translate(0px, -6.1px) rotate(-45deg);
          transform: translate(0px, -6.1px) rotate(-45deg);
  background-color: inherit;
}

main .banner-1 .frame .banner-1-content-img-buttons .banner-1-arrow-buttons .to-left-arrow-button:hover {
  background-color: #f53b49;
}

main .banner-1 .frame .banner-1-content-img-buttons .banner-1-arrow-buttons .to-left-arrow-button:hover span {
  background-color: white;
}

main .banner-1 .frame .banner-1-content-img-buttons .banner-1-arrow-buttons .to-right-arrow-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.07), 0px 0px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.07), 0px 0px 25px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
}

main .banner-1 .frame .banner-1-content-img-buttons .banner-1-arrow-buttons .to-right-arrow-button span,
main .banner-1 .frame .banner-1-content-img-buttons .banner-1-arrow-buttons .to-right-arrow-button span::before,
main .banner-1 .frame .banner-1-content-img-buttons .banner-1-arrow-buttons .to-right-arrow-button span::after {
  display: block;
  border-radius: 5px;
  height: 3px;
}

main .banner-1 .frame .banner-1-content-img-buttons .banner-1-arrow-buttons .to-right-arrow-button span {
  width: 16px;
  background-color: #f53b49;
}

main .banner-1 .frame .banner-1-content-img-buttons .banner-1-arrow-buttons .to-right-arrow-button span::before {
  content: "";
  width: 55%;
  -webkit-transform: translate(0px, 3px) rotate(45deg);
          transform: translate(0px, 3px) rotate(45deg);
  background-color: inherit;
}

main .banner-1 .frame .banner-1-content-img-buttons .banner-1-arrow-buttons .to-right-arrow-button span::after {
  content: "";
  width: 55%;
  -webkit-transform: translate(0px, -6.1px) rotate(-45deg);
          transform: translate(0px, -6.1px) rotate(-45deg);
  background-color: inherit;
}

main .banner-1 .frame .banner-1-content-img-buttons .banner-1-arrow-buttons .to-right-arrow-button span {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

main .banner-1 .frame .banner-1-content-img-buttons .banner-1-arrow-buttons .to-right-arrow-button:hover {
  background-color: #f53b49;
}

main .banner-1 .frame .banner-1-content-img-buttons .banner-1-arrow-buttons .to-right-arrow-button:hover span {
  background-color: white;
}

.home-equip {
  margin: 0 15px;
}

.home-equip-cards-wrapper1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-equip-cards-wrapper1 > img {
  width: 23.5%;
  height: auto;
}

.home-equip-cards-wrapper1 div {
  width: 23.5%;
  height: auto;
  max-height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.home-equip-cards-wrapper1 div img {
  width: 100%;
  height: auto;
}

.home-equip-cards-wrapper2 {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-equip-cards-wrapper2 img {
  width: 23.5%;
  height: auto;
}

.home-equip button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #f53b49;
  background-color: transparent;
  border-radius: 4px;
  height: 42px;
  padding-left: 20px;
  padding-right: 20px;
  color: #f53b49;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin: 30px 0;
}

.home-equip button:hover {
  background-color: #f53b49;
  color: white;
}

.fitclub-equip {
  margin: 0 15px;
}

.fitclub-equip-cards-wrapper1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fitclub-equip-cards-wrapper1 img:nth-of-type(1) {
  width: 49%;
  height: auto;
}

.fitclub-equip-cards-wrapper1 img:nth-of-type(2), .fitclub-equip-cards-wrapper1 img:nth-of-type(3) {
  width: 23.5%;
  height: auto;
}

.fitclub-equip-cards-wrapper2 {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fitclub-equip-cards-wrapper2 img {
  width: 23.5%;
  height: auto;
}

.fitclub-equip button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #f53b49;
  background-color: transparent;
  border-radius: 4px;
  height: 42px;
  padding-left: 20px;
  padding-right: 20px;
  color: #f53b49;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin: 30px 0;
}

.fitclub-equip button:hover {
  background-color: #f53b49;
  color: white;
}

.promo {
  margin: 0 15px;
}

.promo-menu {
  margin-top: 124px;
  vertical-align: middle;
}

.promo-menu h2 {
  margin: 0;
  display: inline-block;
  margin-right: 30px;
}

.promo-menu h2:nth-of-type(2), .promo-menu h2:nth-of-type(3) {
  color: #828282;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
}

.promo-cards {
  margin: 0 15px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.promo-cards-card {
  background-color: #fff;
  position: relative;
  max-width: 300px;
  max-height: 505px;
  min-width: 220px;
  min-height: 387px;
  border-radius: 6px;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.promo-cards-card:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.12)) drop-shadow(0px 4px 30px rgba(19, 15, 38, 0.1));
          filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.12)) drop-shadow(0px 4px 30px rgba(19, 15, 38, 0.1));
}

.promo-cards-card > img {
  border-radius: 6px 6px 0 0;
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  min-width: 220px;
  min-height: 220px;
  height: auto;
}

.promo-cards-card:hover .thumb-up, .promo-cards-card:hover .new {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: 10px;
}

.promo-cards-card-icons-left {
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 10px;
  left: 10px;
  max-width: 200px;
  display: flex;
}

.promo-cards-card-icons-left .discount_round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 36px;
  background-color: #f53b49;
  border-radius: 50%;
}

.promo-cards-card-icons-left .thumb-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 36px;
  margin-left: -10px;
  background-color: #4B7EE8;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.promo-cards-card-icons-left .new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 36px;
  margin-left: -10px;
  background-color: #2FC509;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.promo-cards-card-icons-right {
  position: absolute;
  z-index: 1;
  top: 19px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo-cards-card-icons-right img:nth-of-type(1) {
  width: 80%;
  height: auto;
}

.promo-cards-card-icons-right img:nth-of-type(2) {
  margin-left: 8px;
  width: 100%;
  height: auto;
}

.promo-cards-card-descr {
  margin: 5px 20px 26px 20px;
}

.promo-cards-card-descr p:first-of-type {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-right: 4px;
}

.promo-cards-card-descr .indicator-circle {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 8px;
  height: 8px;
  margin-left: 2px;
  border-radius: 50%;
}

.promo-cards-card-descr p:nth-of-type(2) {
  display: inline-block;
  margin-left: 8px;
  color: #4B7EE8;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.promo-cards-card-descr p:nth-of-type(3) {
  display: inline-block;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #1a1a25;
}

.promo-cards-card-descr .rating-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
}

.promo-cards-card-descr .rating-stars p {
  margin: 0 4px 0 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #909cb5;
}

.promo-cards-card-descr .rating-stars img {
  margin-bottom: 2px;
  margin-right: 1px;
}

.promo-cards-card-descr .buy-price-wrap {
  margin: 17.5px 0px 26px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo-cards-card-descr .buy-price-wrap div .card-price {
  display: block;
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 136%;
  color: #1a1a25;
}

.promo-cards-card-descr .buy-price-wrap div .card-old-price {
  display: block;
  margin: 0;
  font-size: 16px;
  line-height: 136%;
  color: #858FA4;
  text-decoration: line-through;
}

.promo-cards-card-descr .buy-price-wrap button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f53b49;
  border: 0;
  border-radius: 4px;
  height: calc(42px + 0.6vw);
  max-height: 49px;
  width: 47%;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.promo-cards-card-descr .buy-price-wrap button img {
  margin-right: 9px;
}

.promo-cards-card-descr .buy-price-wrap button:hover {
  background-color: #E32A38;
}

.promo-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #f53b49;
  background-color: transparent;
  border-radius: 4px;
  height: 42px;
  padding-left: 20px;
  padding-right: 20px;
  color: #f53b49;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin: 30px 0 103px 15px;
}

.promo-button:hover {
  background-color: #f53b49;
  color: white;
}

#main-ideas {
  background-color: #1a1a25;
}

#main-ideas .frame {
  padding-top: 119px;
}

#main-ideas .frame h2 {
  display: block;
  margin: 30px 15px;
  color: white;
}

#main-ideas .frame .ideas-img-container {
  margin: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main-ideas .frame .ideas-img-container img:nth-of-type(1) {
  width: 49%;
  height: auto;
}

#main-ideas .frame .ideas-img-container img:nth-of-type(2), #main-ideas .frame .ideas-img-container img:nth-of-type(3) {
  width: 23.5%;
  height: auto;
}

#main-ideas .frame .ideas-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #f53b49;
  background-color: transparent;
  border-radius: 4px;
  height: 42px;
  padding-left: 20px;
  padding-right: 20px;
  color: #f53b49;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  border-color: white;
  color: white;
  margin: 30px 0 102px 15px;
}

#main-ideas .frame .ideas-button:hover {
  background-color: #f53b49;
  color: white;
}

#main-ideas .frame .ideas-button:hover {
  color: #1a1a25;
  background-color: white;
}

#main-popular-brands .frame .pop-brands-container {
  margin: 0 15px;
  padding-top: 120px;
}

#main-popular-brands .frame .pop-brands-container h2 {
  padding-left: 0;
  font-size: 30px;
}

#main-popular-brands .frame .pop-brands-container .pop-brands-categories {
  margin: 30px 0;
  padding-left: 0;
}

#main-popular-brands .frame .pop-brands-container .pop-brands-categories li {
  display: inline-block;
  margin-right: 30px;
  text-decoration: none;
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 500;
  color: #384255;
}

#main-popular-brands .frame .pop-brands-container .pop-brands-brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(133, 143, 164, 0.2);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#main-popular-brands .frame .pop-brands-container .pop-brands-brands-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main-popular-brands .frame .pop-brands-container .pop-brands-brands-row .pop-brands-brand {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 20%;
  height: auto;
}

#main-popular-brands .frame .pop-brands-container button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #f53b49;
  background-color: transparent;
  border-radius: 4px;
  height: 42px;
  padding-left: 20px;
  padding-right: 20px;
  color: #f53b49;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin: 30px 0;
}

#main-popular-brands .frame .pop-brands-container button:hover {
  background-color: #f53b49;
  color: white;
}

#main-help .frame .main-help-cont {
  margin: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 470px;
}

#main-help .frame .main-help-cont .main-help-white-block {
  margin: 125px 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #858FA433;
  width: 25%;
  height: 65%;
}

#main-help .frame .main-help-cont .main-help-white-block > img {
  margin-top: 27px;
}

#main-help .frame .main-help-cont .main-help-white-block h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  color: #1a1a25;
  margin-bottom: 10px;
}

#main-help .frame .main-help-cont .main-help-white-block p {
  margin: 0px 47.25px 20px 47.25px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #384255;
}

#main-help .frame .main-help-cont .main-help-white-block div {
  position: relative;
  margin-bottom: 40px;
}

#main-help .frame .main-help-cont .main-help-white-block div a {
  display: inline-block;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-decoration: none;
  color: #f53b49;
}

#main-help .frame .main-help-cont .main-help-white-block div img {
  position: relative;
  top: 1px;
  margin-left: 8px;
}

#main-help .frame .main-help-cont .main-help-red-block {
  margin: 102px 0 40px 0;
  background-color: #f53b49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  height: 70%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px 6px 0px 0px;
}

#main-help .frame .main-help-cont .main-help-red-block .main-help-red-block-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 9px 0px 38px;
  width: 48.2%;
  height: 100%;
}

#main-help .frame .main-help-cont .main-help-red-block .main-help-red-block-col1 h3 {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  line-height: 24px;
  font-weight: 800;
  color: white;
}

#main-help .frame .main-help-cont .main-help-red-block .main-help-red-block-col1 p {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #F6F6F6;
}

#main-help .frame .main-help-cont .main-help-red-block .main-help-red-block-col1 div {
  position: relative;
  padding-top: 20px;
}

#main-help .frame .main-help-cont .main-help-red-block .main-help-red-block-col1 div a {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-decoration: none;
  color: white;
}

#main-help .frame .main-help-cont .main-help-red-block .main-help-red-block-col1 div img {
  position: relative;
  top: 1px;
  margin-left: 8px;
}

#main-help .frame .main-help-cont .main-help-red-block .main-help-red-block-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 38.6%;
  height: auto;
}

#main-about-company {
  position: relative;
}

#main-about-company .russia-map {
  position: absolute;
  right: 1px;
  bottom: -40px;
  width: 56.8%;
  height: auto;
}

#main-about-company .frame .about-company-descr {
  margin-top: 120px;
  margin-left: 15px;
  width: 39.7%;
  height: auto;
}

#main-about-company .frame .about-company-descr h2 {
  margin-top: 0;
}

#main-about-company .frame .about-company-descr h3 {
  font-size: 34px;
  line-height: 48px;
  font-weight: 400;
  color: #384255;
}

#main-about-company .frame .about-company-descr p {
  font-size: 18px;
  line-height: 27px;
  color: #384255;
}

#main-about-company .frame .about-company-descr button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #f53b49;
  background-color: transparent;
  border-radius: 4px;
  height: 42px;
  padding-left: 20px;
  padding-right: 20px;
  color: #f53b49;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-top: 40px;
}

#main-about-company .frame .about-company-descr button:hover {
  background-color: #f53b49;
  color: white;
}

#main-partnership {
  margin-top: 96px;
}

#main-partnership .frame .main-partnership-cont {
  margin: 0 15px;
  background-color: #1a1a25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#main-partnership .frame .main-partnership-cont img {
  width: 34.32%;
  height: auto;
}

#main-partnership .frame .main-partnership-cont .main-partnership-descr {
  width: 40.56%;
  height: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#main-partnership .frame .main-partnership-cont .main-partnership-descr p {
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  color: white;
}

#main-partnership .frame .main-partnership-cont .main-partnership-descr p span {
  color: #f53b49;
}

#main-partnership .frame .main-partnership-cont .main-partnership-descr button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #f53b49;
  background-color: transparent;
  border-radius: 4px;
  height: 42px;
  padding-left: 20px;
  padding-right: 20px;
  color: #f53b49;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: white;
  border-color: rgba(255, 255, 255, 0.7);
}

#main-partnership .frame .main-partnership-cont .main-partnership-descr button:hover {
  background-color: #f53b49;
  color: white;
}

#main-partnership .frame .main-partnership-cont .main-partnership-descr button:hover {
  color: #1a1a25;
  background-color: #fff;
}

#main-news-and-blog .frame {
  position: relative;
}

#main-news-and-blog .frame h2 {
  display: inline-block;
  margin-left: 15px;
}

#main-news-and-blog .frame > h3 {
  position: absolute;
  display: inline-block;
  margin-left: 30px;
  top: 10px;
  color: #828282;
}

#main-news-and-blog .frame .main-news {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
}

#main-news-and-blog .frame .main-news-card {
  max-width: 315px;
  margin-right: 30px;
}

#main-news-and-blog .frame .main-news-card h3 {
  max-width: 230px;
  color: #1a1a25;
}

#main-news-and-blog .frame .main-news-card-descr {
  max-width: 230px;
  color: #384255;
  font-size: 16px;
  line-height: 24px;
}

#main-news-and-blog .frame .main-news-card-date {
  color: #1a1a25;
  font-size: 16px;
  line-height: 24px;
}

#main-news-and-blog .frame .main-news span {
  position: absolute;
  top: 70px;
  right: 24px;
}

#main-news-and-blog .frame .main-news div:nth-of-type(5) {
  -webkit-filter: opacity(50%);
          filter: opacity(50%);
}

#main-news-and-blog .frame button {
  margin-left: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #f53b49;
  background-color: transparent;
  border-radius: 4px;
  height: 42px;
  padding-left: 20px;
  padding-right: 20px;
  color: #f53b49;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-top: 40px;
  margin-bottom: 60px;
}

#main-news-and-blog .frame button:hover {
  background-color: #f53b49;
  color: white;
}

footer {
  background-color: #1a1a25;
}

footer .frame .footer-row1 {
  margin: 0 80px 0 15px;
  width: 1345px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 3px solid rgba(133, 143, 164, 0.15);
}

footer .frame .footer-row3 {
  margin-right: 80px;
  width: 1345px;
}

.footer-nav {
  width: 63%;
  height: 68%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 88px;
}

.footer-nav-ul {
  margin: 0;
  padding: 0;
  min-width: 200px;
  margin-right: 30px;
}

.footer-nav-ul .footer-nav-li-head {
  list-style: none;
  margin-bottom: 30px;
}

.footer-nav-ul .footer-nav-li-head a {
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.footer-nav-ul .footer-nav-li {
  list-style: none;
  margin-bottom: 12px;
}

.footer-nav-ul .footer-nav-li a {
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  color: #858FA4;
  text-decoration: none;
}

.footer-contacts {
  margin-top: 82px;
  width: 19%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-contacts-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(133, 143, 164, 0.15);
  border-radius: 5px;
}

.footer-contacts-subscribe:hover {
  color: white;
  background-color: #384255;
}

.footer-contacts-subscribe span {
  padding: 14px;
  color: #858FA4;
  font-size: 14px;
  line-height: 20px;
}

.footer-contacts-subscribe img {
  padding: 14px;
}

.footer-contacts-phones {
  margin-top: 50px;
}

.footer-contacts-phones span {
  display: inline-block;
  margin-bottom: 8px;
  color: #858FA4;
  font-size: 16px;
  line-height: 23px;
  font-weight: 500;
}

.footer-contacts-phones > a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  line-height: 20px;
}

.footer-contacts-email {
  margin-top: 20px;
}

.footer-contacts-email span {
  display: inline-block;
  margin-bottom: 8px;
  color: #858FA4;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.footer-contacts-email a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  line-height: 20px;
}

.footer-contacts-agreements {
  margin-top: 37px;
  margin-bottom: 27px;
}

.footer-contacts-agreements a {
  display: inline-block;
  margin-bottom: 7px;
  text-decoration: none;
  color: #4B7EE8;
  font-size: 14px;
  line-height: 20px;
}

.footer-contacts-agreements a:nth-of-type(2) {
  margin-bottom: 0;
}

.footer-partnership {
  width: 1345px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-partnership-block1 {
  width: 460px;
}

.footer-partnership-block2 {
  width: 230px;
}

.footer-partnership-block2 img {
  padding-right: 10px;
}

.footer-partnership-block3 {
  width: 395px;
}

.footer-partnership-block3 button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
}

.footer-partnership-block3 button:nth-of-type(1) {
  border: 0;
  background-color: #384255;
  color: white;
}

.footer-partnership-block3 button:nth-of-type(2) {
  margin-left: 30px;
  border: 1px solid rgba(144, 156, 181, 0.5);
  background-color: transparent;
  color: #858FA4;
}

.footer-partnership-block4 {
  margin-top: 0;
}

.main-copyright {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #858FA4;
}

.in-stock {
  color: #2FC509;
}

.limited-stock {
  color: #F99808;
}

.out-of-stock {
  color: #f53b49;
}

.green-filled {
  border: 0.5px solid #2FC509;
  background-color: #2FC509;
}

.green-empty {
  border: 0.5px solid #2FC509;
}

.orange-filled {
  border: 0.5px solid #F99808;
  background-color: #F99808;
}

.orange-empty {
  border: 0.5px solid #F99808;
}

.red-empty {
  border: 0.5px solid #f53b49;
}

@media (max-width: 1409px) {
  body {
    background-color: #f53b49;
  }
}

@media (max-width: 959px) {
  body {
    background-color: goldenrod;
  }
}
/*# sourceMappingURL=style.css.map */