$dgray: #1a1a25;
$lgray: #909cb5;
$txt: #384255;
$gray4: #858FA4;
$white: white;
$black-rock: #2a2c38;
$graybutton: rgba(133, 143, 164, 0.15);
$red: #f53b49;
$hover-red: #E32A38;
$lime-green: #2FC509;
$blue: #4B7EE8;
$fs-header: 14px;
$lh-header: 140%;

@mixin small-vertical-line {
    width: 1px;
    height: 30px;
    border-radius: 1px;
    background-color: #858fa4;
    opacity: 0.15;
    align-self: center;
    margin: 0 6px;
  }
  @mixin common-red-button {
    box-sizing: border-box;
    appearance: none;
    border: 1px solid $red;
    background-color: transparent;
    border-radius: 4px;
    height: 42px;
    padding-left: 20px;
    padding-right: 20px;
    color: $red;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    &:hover {
      background-color: $red;
      color: white;
    }
  }
  @mixin white-bg-round-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.07), 0px 0px 25px rgba(0, 0, 0, 0.1);
  }
  @mixin arrow {
    span,
    span::before,
    span::after {
      display: block;
      border-radius: 5px;
      height: 3px;
    }
    span {
      width: 16px;
      background-color: $red;
    }
    span::before {
      content: "";
      width: 55%;
      transform: translate(0px, 3px) rotate(45deg);
      background-color: inherit;
    }
    span::after {
      content: "";
      width: 55%;
      transform: translate(0px, -6.1px) rotate(-45deg);
      background-color: inherit;
    }
  }
// ------------------------------------------------------------------------------
// ---------------------------Медиазапросы---------------------------------------
// ------------------------------------------------------------------------------


@media (max-width: 1409px) {
    body {
      background-color: $lime-green;
    }
    section {
      margin-top: 80px !important;
    }
    .frame {
      max-width: 980px;
    }
    // --------------HEADER-----------------
    .header-bg-menu-2, .header-menu-1-wrapper-2 {
      display: none !important;
    }
    .header-menu-1 {
      &-wrapper-1 {
          width: 31%;
      }
      .header-menu1-icons960px {
          width: 31%;
          display: flex !important;
          justify-content: space-between;
          align-items: center;
      }
    }
    // --------------BANNER 1-----------------
    #main-banner-1 {
      margin-top: 20px;
      height: 320px;
      background: #F7F7F7;
      border-radius: 0;
      .frame {
        .banner-1-content {
          background: linear-gradient(180deg, #dedfe7 0%, rgba(233, 234, 239, 0) 100%),
          #e9eaef;
          border-radius: 10px;
          &-descr {
            p:first-child {
              font-size: 14px;
            }
            p:nth-child(2) {                    
              font-size: 24px;
            }
            p:nth-child(3) {
              margin-top: 24px;
              margin-bottom: 24px;          
              font-size: 24px;         
            }
          }
          &-red-triangle {
            width: 72.31%;
            scale: 1.0;
            bottom: 1px;
          }
        }
        
      }
    }

  }
  
  @media (max-width: 959px) {
    body {
      background-color: goldenrod;
    }
  }