$dgray: #1a1a25;
$lgray: #909cb5;
$txt: #384255;
$gray4: #858FA4;
$white: white;
$black-rock: #2a2c38;
$graybutton: rgba(133, 143, 164, 0.15);
$red: #f53b49;
$hover-red: #E32A38;
$lime-green: #2FC509;
$blue: #4B7EE8;
$fs-header: 14px;
$lh-header: 140%;

@mixin small-vertical-line {
    width: 1px;
    height: 30px;
    border-radius: 1px;
    background-color: #858fa4;
    opacity: 0.15;
    align-self: center;
    margin: 0 6px;
  }
  @mixin common-red-button {
    box-sizing: border-box;
    appearance: none;
    border: 1px solid $red;
    background-color: transparent;
    border-radius: 4px;
    height: 42px;
    padding-left: 20px;
    padding-right: 20px;
    color: $red;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    &:hover {
      background-color: $red;
      color: white;
    }
  }
  @mixin white-bg-round-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.07), 0px 0px 25px rgba(0, 0, 0, 0.1);
  }
  @mixin arrow {
    span,
    span::before,
    span::after {
      display: block;
      border-radius: 5px;
      height: 3px;
    }
    span {
      width: 16px;
      background-color: $red;
    }
    span::before {
      content: "";
      width: 55%;
      transform: translate(0px, 3px) rotate(45deg);
      background-color: inherit;
    }
    span::after {
      content: "";
      width: 55%;
      transform: translate(0px, -6.1px) rotate(-45deg);
      background-color: inherit;
    }
  }
// ------------------------------------------------------------------------------
// ---------------------------Медиазапросы---------------------------------------
// ------------------------------------------------------------------------------


@media (max-width: 1409px) {
    // body {
    //   background-color: $lime-green;
    // }
    section {
      margin-top: 80px !important;
    }
    .frame {
      width: 940px;
    }
    // --------------HEADER-----------------
    .header-bg-menu-2, .header-menu-1-wrapper-2 {
      display: none !important;
    }
    .header-menu-1 {
      &-wrapper-1 {
          width: 31%;
      }
      .header-menu1-icons960px {
          width: 31%;
          display: flex !important;
          justify-content: space-between;
          align-items: center;
      }
    }
    // --------------BANNER 1-----------------
    #main-banner-1 {
      margin-top: 20px;
      height: auto;
      background: #F7F7F7;
      border-radius: 0;
      .frame {
        .banner-1-content {
          background: linear-gradient(180deg, #dedfe7 0%, rgba(233, 234, 239, 0) 100%),
          #e9eaef;
          border-radius: 10px;
          &-descr {
            margin-top: 54px;
            margin-left: 36px;
            p:first-child {
              font-size: 14px;
            }
            p:nth-child(2) {                    
              font-size: 24px;
              margin-top: 12.55px;
            }
            p:nth-child(3) {                      
              font-size: 24px;
            }
            button {
              margin-top: 12.55px;
              margin-bottom: 69px;  
            }
          }
          &-red-triangle {
            width: 72.31%;
            scale: 1.0;
            bottom: 1px;
          }
        }
        > img {
          margin-right: 100px;
        }
        .banner-1-arrow-buttons {
          right: 30px;
        }
        
      }
    }
    // ---------------Для фитнес клубов---------
    #main-fitclub-equip {
      border-bottom: 1px solid rgba(133, 143, 164, 0.15);
    }
    // --------------Акции и спецпредложения-----------------
    .promo-menu {
      margin-top: 80px;
    }
    .promo-cards {
      &-card {
        width: 270px;
        height: 475px;
      }
    }
    .promo-to-right-round-button {      
      top: 170px !important;
      right: 35px !important;
    }
    // ----------------------Идеи и подборки----------
    #main-ideas {
      margin-top: 51px !important;
      .frame {
        padding-top: 100px !important;
        .ideas-button {
          margin-bottom: 62px;
        }
      }
    }
    // -----------------Популярные бренды----------
    #main-popular-brands {
    border-bottom: 0;
    }
    .pop-brands-brands-row {
      .pop-brands-brand {
        width: 25% !important;
      }
      img:nth-of-type(5) {
        display: none !important;
      }
    }
    .pop-brands-container button {
      margin: 30px 0 0 0 !important;
    }
    // ---------------------Помощь покупателю---------------
    #main-help {
      .frame {
        .main-help-cont {
          flex-wrap: wrap;
          .main-help-white-block {
            margin: 0;
            width: 50%;
          }
          .main-help-red-block {
            margin: 0;
            width: 50%;
            justify-content: space-between;
            border-radius: 0;
            &-col1 {
              > img {
                padding-top: 20px !important;
              }
              h3 {
                padding-top: 10px !important;
              }
              p {
                font-size: 14px !important;
              }
              div {
                padding: 15px 0 40px 0 !important;
              }
            }
            &-col2 {
              > img {
                height: 72.5%;
              }
            }
          }
        }
      }
    }
    // ------------О компании----------------
    #main-about-company {
      margin-top: 96px !important;
      flex-wrap: wrap;
      .russia-map {
        position: static;
        margin-left: auto;
        margin-right: auto;
        width: 102%;
        margin-top: -210px;
      }
      .frame {
        margin-top: 0;
        h2 {
          min-width: 0;
        }
        .about-company-descr {
          position: relative;
          z-index: 1;
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          min-width: 0;
          h3 {
            min-width: 0;
            width: 48%;
            font-size: 24px;
            margin-top: 0;
          }
          p {
            margin-top: 0;
            width: 48%;            
          }
          button {
            margin-top: 0;
          }
        }
      }
    }
    // ---------------Стать партнёром------------
    #main-partnership {
      margin-top: 0 !important;
    }
    .main-partnership-cont {
      
      height: 327px;      
      img {
        width: 44% !important;
        height: auto;        
      }
      .main-partnership-descr {
        width: 45.7%;
        margin-top: -10px;
        height: auto;
        align-self: flex-start;
        p {
          margin-top: 0;          
          font-size: 24px !important;
          span {
            color: $red;
          }
        }
        // button {
        // }
      }
    }
    // --------------------Подвал--------------------
    .footer-contacts {
      display: none !important;
    }
    .footer-row1 {
      width: inherit !important;
      margin: 0 15px;
      .footer-nav {
        width: inherit !important;
        height: auto !important;
        .footer-nav-ul {
          margin-right: 0;
          min-width: 0;
        }
        .footer-nav-ul:nth-of-type(1) {
          margin-top: 0;
          width: 160px;
        }
        .footer-nav-ul:nth-of-type(2) {
          margin-top: 0;
          width: 200px;
        }
        .footer-nav-ul:nth-of-type(3) {
          margin-top: 0;
          width: 137px;
        }
        .footer-nav-ul:nth-of-type(4) {
          margin-top: 0;
          width: 220px;
        }
      }
    }
    .footer-row2 {
      width: inherit !important;
      margin: 60px 15px 0 15px;      
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .footer-contacts-phones {        
        margin-top: 0;
        width: 160px;
      }
      .footer-contacts-email {
        margin-top: 0;
        width: 200px;
      }
      .footer-contacts-become-partner {
        margin-top: 0;
        width: 137px;
        a {
          display: block;
          font-size: 16px;
          line-height: 130%;
          text-decoration: none;
          color: $gray4;
          margin-bottom: 8px;
        }
      }
      .footer-contacts-subscribe {
        margin-top: 0;
        width: 220px;
        display: flex;
        flex-direction: column;
        button {
          span {
            font-size: 12px;
          }
          img {
            padding-left: 0;
          }
        }
        .footer-contacts-agreements {
          display: flex;
          flex-direction: column;
          margin-top: 18px;
        }
      }
      .footer-social-mobile {
        display: none;
      }
      .footer-privacy-policy {
        display: none;
      }
    }
    .footer-row3 {
      margin: 0 15px;
      .footer-partnership {
        &-block1 {
          width: 508px;
        }
        &-block2 {
          width: 170px;
        }
        &-block3 {
          display: none !important;
        }
      }
    }
  }
  
@media (max-width: 959px) {  
  // body {
  //   background-color: goldenrod;
  // }
  h2 {
    font-size: 22px !important;
    line-height: 110% !important;
  }
  .frame {
    width: 320px;
  }
  // --------------HEADER-----------------
  .header-menu-1 {
    margin: 0 10px !important;
    height: 66px !important;
    position: relative;
    .header-menu-1-wrapper-1 {
      width: 56.66% !important;
      > img {
        width: 100% !important;
      }
      > button {
        display: none !important;
      }
    }
    .header-menu1-icons960px {
      width: 40%;      
      .header-favorite, .header-compare  {
        display: none !important;
      }
      .header-cart {
        margin-top: 8px;
        > img {
          width: 75%;
          height: auto;          
        }
        &::after {
          width: 11.74px;
          height: 11.74px;
        }
      }
      .small-vertical-line-1 {
        margin: 0;
      }
      .search {
        margin-top: 5px;
      }
      .header-burger {
        margin-top: 4px;
      }
    }
  }
  .header-filters {
    height: 38px;
    .header-filters-wrapper {
      width: 80.6% !important;
      .filter span {
        font-size: 12px !important;
        line-height: 15px !important;
      }
    }
  } 

  // --------------BANNER 1-----------------
  #main-banner-1 {
    margin-top: 20px !important;
    .frame {
      .banner-1-content {
        margin: 0 10px !important;
        height: 460px;
        flex-direction: column;
        // flex-wrap: wrap;
        &-descr {
          width: 70% !important;
          margin-top: 29px;
          margin-left: 20px;
          // p:first-child {
          //   font-size: 14px;
          // }
          p:nth-child(2) {
            margin-top: 12px;
          }
          // p:nth-child(3) {                      
          //   font-size: 24px;
          // }
          button {
            width: 45% !important;
            margin-top: 12px;
            font-size: 12px;
            line-height: 15px;
            padding-left: 10px;
            padding-right: 10px;
          }
        }
        > img {
          width: auto !important;
          height: 51% !important;
          margin-right: auto;
          margin-left: auto;
        }        
      }
      .banner-1-red-triangle {
        width: 276px !important;
        scale: 1.0;
        left: 21px;
        bottom: 0px;
      }
      
      .banner-1-arrow-buttons {
        right: 15px !important;
        bottom: 20px !important;
      }  
    }
  }

  // ---------------Тренажёры для дома------------------
  #main-home-equip {
    h2 {
      margin: 0 10px;
    }
    button {      
      margin: 10px 10px 0 10px;
      font-size: 12px;
      line-height: 15px;
    }
    .home-equip-desktop-tab {
      display: none !important;
    }
    .home-equip-mobile {
      display: flex !important;      
      margin: 20px 10px 0 10px;
      img {
        margin-bottom: 5px;
        border-radius: 4px;
      }
      img:hover {
        filter: brightness(0.8);
      }
      img:nth-of-type(n+2):nth-of-type(odd) {
        margin-right: 5px;
      }
    }
  }
  // --------------Для фитнес клубов-----------
  .fitclub-equip-desktop-tab {
    display: none !important;
  }
  #main-fitclub-equip {
    border-bottom: 0;
    h2 {
      margin: 0 10px;
    }
    button {      
      margin: 10px 10px 0 10px;
      font-size: 12px;
      line-height: 15px;
    }
    .fitclub-equip-mobile {
      margin: 20px 10px 0 10px;
      display: flex !important;
      &-cards {
        img {
          margin-bottom: 5px;
          border-radius: 4px;
        }
        img:hover {
          filter: brightness(0.8);
        }
        img:nth-of-type(n+2):nth-of-type(even) {
          margin-right: 5px;
        }
      }
    }
  }
  // ------------Акции и спецпредложения--------------
  .promo {
    margin: 0 10px;
  }
  .promo-menu {
    white-space: nowrap;
    h2 {
      font-size: 22px;
      line-height: 24px;
    }
  }
  .promo-cards {
    margin: 30px 10px 0 10px;
    .promo-to-right-round-button {      
      display: none !important;
    }
    &-card {
      width: 219px;
      height: 387px;
      &-descr {
        .promo-stock {
          margin: 0 !important;
        }
        // .indicator-circle {
        //   margin: 0 !important;
        // }
        .is-in-showroom {
          margin: 0 !important;
        }
        .promo-good-name {
          font-size: 14px !important;
          margin-top: 8px;
        }
        .rating-stars {
          margin: 0 !important;
          margin-top: 8px !important;
        }
        .buy-price-wrap {
          div {
            display: flex;
            justify-content: space-between;            
            .card-price {
              font-size: 16px !important;
            }
            .card-old-price {
              margin-left: 10px;
              margin-top: 2px;
              font-size: 14px !important;
            }
          }
          .buy-button {
            display: none !important;
          }
        }
      }
    }
  }
  .promo-button {
    margin: 30px 10px 86px 10px;
    font-size: 12px;
    line-height: 15px;
  }
  // --------------Идеи и подборки----------------
  #main-ideas {
    margin-top: 0 !important;
    .frame {
      padding-top: 80px !important;
      h2 {
        display: block;
        margin: 0px 10px 30px 10px;      
        color: white;
      }
      .ideas-img-container-desktop-tab {
        display: none !important;
      }
      .ideas-img-container-mobile {
        margin: 30px 10px 0px 10px;
        display: flex !important;
        flex-wrap: wrap;
        > img {
          margin-bottom: 5px;
          border-radius: 4px;
        }
      }
      .ideas-button {        
        margin: 30px 10px 60px 10px;
        font-size: 12px;
        line-height: 15px;       
      }
    }
  }
  // --------------Популярные бренды----------------
  .pop-brands-container {
    margin: 0 10px !important;
    .pop-brands-categories {
      margin: 20px 0 0 0 !important;
      li {
        font-size: 12px !important;
        line-height: 15px !important;
      }
    }
    .pop-brands-brands {
      margin-top: 26px;
      .pop-brands-brands-row {
        .pop-brands-brand {
          width: 33.33% !important;
        }
        img:nth-of-type(4) {
          display: none !important;
        }
      }
      .pop-brands-brands-row:nth-of-type(4) {
        display: flex !important;
      }
    }
    button {
      margin: 20px 0 0 0 !important;
      font-size: 12px !important;
      line-height: 15px !important;
    }
  }
  // ---------------Помощь--------------------------
  #main-help {
    h3 {
      font-size: 16px !important;
      line-height: 110% !important;
    }
    p {
      font-size: 14px !important;
      line-height: 140% !important;
    }
    a {
      font-size: 12px !important;
      line-height: 15px !important;
    }
    .frame {
      .main-help-cont {
        margin: 0 10px !important;
        .main-help-white-block:first-of-type {
          border-radius: 6px 6px 0px 0px;
        }
        .main-help-white-block:last-of-type {
          border-radius: 0px 0px 6px 6px;
        }
        .main-help-white-block {
          width: 100%;
          > img {
            margin-top: 20px !important;
          }
          h3 {
            margin: 10px 0 0 0 !important;
          }
          p {
            margin: 8px 20px 0 20px !important;
          }
          a {
            margin: 10px 0 20px 0 !important;
          }
          > div {
            margin: 0 !important;
          }
        }
        .main-help-red-block {
          width: 100%;
          .main-help-red-block-col1 {
            margin: 0 9px 0px 20px !important;
            > div {
              padding: 10px 0 20px 0 !important;
            }
          }
          .main-help-red-block-col2 {            
            > img {
              height: 64.73% !important;
            }
          }
        }
      }
    }
  }
  // --------------О компании-------------------------
  #main-about-company {
    margin-top: 88px !important;
    .frame {
      h2 {
        margin: 0 10px;
      }
      .about-company-descr {
        margin: 0 10px;
        display: flex;
        h3 {
          margin: 20px 0 0 0;
          width: 100% !important;
          font-size: 18px !important;
          line-height: 140% !important;
        }
        p {
          margin: 20px 0 0 0;
          width: 100% !important;
          font-size: 14px !important;
          line-height: 140% !important;
        }
        button {
          margin: 20px 0 0 0;
          font-size: 12px !important;
          line-height: 15px !important;
        }
      }
    }
    .russia-map {
      margin-top: -30px;
    }
  }
  // --------------Партнёрство (стать партнёром)--------
  #main-partnership {
    margin: 20px 0 0 0 !important;
    .frame {
      .main-partnership-cont {
        height: auto !important;
        margin: 0 10px;
        display: flex;
        flex-wrap: wrap;
        > img {
          order: 1;
          width: 100% !important;
        }
        .main-partnership-descr {
          margin: 64px 41px 0 28px;
          order: 0;
          width: 100% !important;
          p {
            font-size: 18px !important;
            line-height: 120% !important;
          }
          button {
            font-size: 12px;
            line-height: 15px;
          }
        }
      }
    }
  }
  // -------------Новости, блог--------------
  #main-news-and-blog {
    .frame {
      h2 {
        margin: 0 10px !important;
      }
      > h3 {
        margin: 0 10px !important;
        top: auto;
        font-size: 22px !important;
        line-height: 110% !important;
      }
      .main-news {
        margin: 20px 10px 0 10px !important;
        .main-news-card {
          > img {
            width: 250px;
            height: 260px;
          }
          > h3 {
            margin: 10px 0 0 0 !important;
            font-size: 16px !important;
            line-height: 110% !important;
          }
          .main-news-card-descr {
            margin: 10px 0 0 0 !important;
            font-size: 14px !important;
            line-height: 140% !important;
          }
          .main-news-card-date {
            margin: 10px 0 0 0 !important;
          }
        }
        .main-news-to-right-button {
          display: none !important;
        }
      }
      button {
        margin-left: 10px;
        font-size: 14px !important;
        line-height: 17px !important;
      }
    }
  }
  // ---------------------Подвал------------------
  #footer {
    .frame {
      .footer-row1 {
        width: auto !important;
        margin: 0 10px !important;
        .footer-nav {
          margin-top: 0px;
          flex-wrap: wrap;
          .footer-nav-ul {
            width: 50%;
            .footer-nav-li-head {
              margin-top: 27px !important;
              a {
                font-size: 16px !important;
                line-height: 130% !important;
                margin-bottom: 16px !important;
              }
            }
            .footer-nav-li {
              a {
                font-size: 14px !important;
                line-height: 140% !important;
                margin-bottom: 8px !important;
              }
            }
          }
        }
      }
      .footer-row2 {
        flex-wrap: wrap;
        margin: 30px 10px 0 10px !important;
        .footer-contacts-become-partner {
          order: -1;
          width: 100% !important;
          a {
            font-size: 14px !important;
            line-height: 140% !important;
          }
        }
        .footer-contacts-subscribe {
          margin-top: 30px;
          order: 0;
          width: 100% !important;
          .footer-contacts-subscribe-button {
            
            width: 300px;
          }
          .footer-subscribe-success {
            font-size: 12px;
            line-height: 15px;
          }
          .footer-contacts-agreements {
            display: none;            
          }          
        }
        .footer-contacts-phones {
          margin-top: 10px !important;
          order: 1;
          width: 100% !important;
          display: flex;
          flex-wrap: wrap;          
          a {
            font-size: 12px !important;
            line-height: 15px !important;
          }
        }
        .footer-contacts-email {
          order: 2;
          width: 100% !important;
          span {
            font-size: 14px;
            line-height: 140%;
            margin: 30px 0 0 0 !important;
          }
          a {
            margin-top: 12px;
            font-size: 12px !important;
            line-height: 15px !important;
          }
        }
        .footer-privacy-policy {
          margin-top: 30px;
          display: flex !important;
          order: 3;
          width: 100%;
          a {
            text-decoration: none;
            font-size: 14px;
            line-height: 20px;
            color: $blue;
          }
        }
        .footer-social-mobile {
          margin-top: 30px;
          display: flex !important;
          order: 4;
          width: 132px;
          justify-content: space-between;
        }
      }
      .footer-row3 {
        flex-wrap: wrap;
        .footer-partnership {
          width: 300px;
          margin-top: 89px;
          display: flex;
          flex-wrap: wrap;
          .footer-partnership-block1 {
            width: 60% !important;
          }
          .footer-partnership-block2 {
            display: none !important;
          }
          .footer-partnership-block3 {
          }
          .footer-partnership-block4 {
            margin-top: 19px;
          }
        }
      }
      .main-copyright {
      }
    }
  }
}