$dgray: #1a1a25;
$lgray: #909cb5;
$txt: #384255;
$gray4: #858FA4;
$white: white;
$black-rock: #2a2c38;
$red: #f53b49;
$hover-red: #E32A38;
$lime-green: #2FC509;
$blue: #4B7EE8;
$fs-header: 14px;
$lh-header: 140%;

@mixin small-vertical-line {
  width: 1px;
  height: 30px;
  border-radius: 1px;
  background-color: #858fa4;
  opacity: 0.15;
  align-self: center;
  margin: 0 6px;
}
@mixin common-red-button {
  box-sizing: border-box;
  appearance: none;
  border: 1px solid $red;
  background-color: transparent;
  border-radius: 4px;
  height: 42px;
  padding-left: 20px;
  padding-right: 20px;
  color: $red;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  &:hover {
    background-color: $red;
    color: white;
  }
}
@mixin white-bg-round-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.07), 0px 0px 25px rgba(0, 0, 0, 0.1);
}
@mixin arrow {
  span,
  span::before,
  span::after {
    display: block;
    border-radius: 5px;
    height: 3px;
  }
  span {
    width: 16px;
    background-color: $red;
  }
  span::before {
    content: "";
    width: 55%;
    transform: translate(0px, 3px) rotate(45deg);
    background-color: inherit;
  }
  span::after {
    content: "";
    width: 55%;
    transform: translate(0px, -6.1px) rotate(-45deg);
    background-color: inherit;
  }
}

.frame {
  max-width: 1440px;
  margin: 0 auto;
}
.transp-border-bottom {
  border-bottom: 1px solid rgba(133, 143, 164, 0.15);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-display: swap;
  background-color: #F7F7F7;
}
h2 {  
  font-size: 30px;
  line-height: 33px;  
  font-weight: 700;
}
h3 {  
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
}
// border-bottom: 2px dotted red;

// ------------------------------------------------------------
// ---------------------------HEADER---------------------------
// ------------------------------------------------------------

header {
  .header-bg-menu-1 {
    background-color: $dgray;
    .frame {
      .header-menu-1 {
        margin: 0 15px;
        max-width: 1410px;
        height: 81px;
        display: flex;
        justify-content: space-between;
        &-wrapper-1 {
          width: 44.5%;
          max-width: 392px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .city-change {
            width: 68px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            appearance: 0;
            border: 0;
            background-color: $dgray;
            color: #858fa4;
            font-size: 14px;
            line-height: 140%;
            img {
              margin-bottom: 2px;
              padding-left: 10px;
            }
          }
        }
        &-wrapper-2 {
          width: 55.5%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-decoration: none;
          color: $lgray;
          font-size: 14px;
          line-height: 140%;
          .header-partners {
            padding: 0 10px;
            height: 37px;
            background-color: #384255;
            appearance: 0;
            border: none;
            border-radius: 6px;
            text-align: middle;
            font-family: Inter;
            font-size: 14px;
            font-weight: 700;
            line-height: 17px;
            letter-spacing: 0em;
            color: white;
          }
          .small-vertical-line-1 {
            @include small-vertical-line;
          }
          .header-phone {
            text-align: center;
            color: white;
            font-size: 14px;
            line-height: 17px;
            font-weight: 500;
          }
          .city-change {
            margin-left: 4px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            appearance: 0;
            border: 0;
            background-color: $dgray;
            color: #858fa4;
            font-size: 14px;
            line-height: 20px;
            img {
              margin-bottom: 1px;
              padding-left: 4px;
            }
          }
          .call-me {
            text-align: center;
            a {
              color: $red;
              font-size: 14px;
              line-height: 140%;
              text-decoration: none;
            }
          }
          .small-vertical-line-2 {
            @include small-vertical-line;
          }
          .header-auth {
            display: flex;
            align-items: center;
            color: white;
            font-size: 14px;
            line-height: 20px;
            img {
              margin-left: 14px;
            }
          }
        }
      }
    }
  }

  .header-bg-menu-2 {
    background-color: $dgray;
    .frame {
      .header-menu-2 {
        margin: 0 15px;
        max-width: 1410px;
        height: 81px;
        display: flex;
        justify-content: space-between;
        .header-menu-2-wrapper-1 {
          width: 70%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .header-catalogue-button {
            border: 0;
            border-radius: 4px;
            width: 127px;
            height: 49px;
            background-color: $red;
            &:hover {
              background-color: #e32a38;
            }
            &:active {
              background-color: #e32a38;
            }
            div {
              display: flex;
              justify-content: center;
              align-items: center;
            }
            span {
              margin-left: 10px;
              color: white;
              font-family: Inter;
              font-weight: bold;
              font-size: 14px;
              line-height: 17px;
              margin-top: 3px;
            }
          }
          .search {
            background-color: $dgray;
            border: 0;
            margin-top: 2px;
          }
          .small-vertical-line {
            @include small-vertical-line;
            height: 40px;
          }
          a {
            text-decoration: none;
            font-family: Inter;
            color: white;
            font-size: $fs-header;
            line-height: $lh-header;
          }
        }
        .header-menu-2-wrapper-2 {
          width: 30%;
          display: flex;
          justify-content: end;
          .right-submenu {
            min-width: 155px;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }
    }
  }

  .header-bg-menu-3 {
    background-color: $black-rock;
    .frame {
      .header-menu-3 {
        margin: 0 15px;
        text-align: left;
        .header-filters {
          max-width: 1410px;
          height: 44px;
          margin: 0 auto;
          display: flex;
          justify-content: start;
          align-items: center;
          &-wrapper {
            width: 270px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .filter {
              display: flex;
              justify-content: start;
              span {
                color: white;
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 17px;
                letter-spacing: 0em;
              }
              img {
                margin-left: 10px;
                margin-top: 1px;
              }
            }
            .small-vertical-line {
              @include small-vertical-line;
            }
          }
        }
      }
    }
  }
}

// ------------------------------------------------------------------------------
// ---------------------------BANNER 1-------------------------------------------
// ------------------------------------------------------------------------------
main {
  .banner-1 {
    max-width: 1800px;
    height: 500px;
    margin: 39px auto 0 auto;
    background: linear-gradient(180deg, #dedfe7 0%, rgba(233, 234, 239, 0) 100%),
      #e9eaef;
    border-radius: 10px;
    .frame {
      .banner-1-content {
        position: relative;
        max-width: 1410px;
        margin: 0 15px;
        display: flex;
        justify-content: space-between;
        &-descr {
          max-width: 36%;
          margin-top: 83px;
          p:first-child {
            padding: 0;
            margin-top: 0;
            color: $red;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 900;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
          }
          p:nth-child(2) {
            margin-top: 0;
            margin-bottom: 0;
            font-family: Inter;
            font-size: 50px;
            font-style: normal;
            font-weight: 900;
            line-height: 55px;
            letter-spacing: 0em;
            text-align: left;
          }
          p:nth-child(3) {
            margin-top: 24px;
            margin-bottom: 24px;
            font-family: Inter;
            font-size: 50px;
            font-style: normal;
            font-weight: 400;
            line-height: 55px;
            letter-spacing: 0em;
            text-align: left;
          }
          button {
            @include common-red-button;
            position: absolute;
            z-index: 1;
          }
        }
        &-red-triangle {
          position: absolute;
          max-width: 1080px;
          scale: 1.1;
          top: 403.2px;
          opacity: 0.75;
          filter: saturate(1.6) contrast(1.5);
        }
        &-img-buttons {
          max-width: 54%;
          display: flex;
          .banner-1-arrow-buttons {
            margin-bottom: 30px;
            display: flex;
            align-items: end;
            .to-left-arrow-button {
              @include white-bg-round-button();
              @include arrow();
              &:hover {
                background-color: $red;
                span {
                  background-color: white;
                }
              }
            }
            .to-right-arrow-button {
              @include white-bg-round-button();
              @include arrow();
              span {
                transform: rotate(180deg);
              }
              &:hover {
                background-color: $red;
                span {
                  background-color: white;
                }
              }
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}

// ------------------------------------------------------------------------------
// ---------------------------Тренажёры для дома---------------------------------
// ------------------------------------------------------------------------------

.home-equip {
  margin: 0 15px;
  &-cards {
    // display: flex;
    // flex-wrap: wrap;
    // max-height: 740px;
    // height: 100%;
    &-wrapper1 {
      display: flex;           
      justify-content: space-between;
      // max-height: 430px;      
      > img {
        width: 23.5%;
        height: auto;
      }      
      div {
        width: 23.5%;
        height: auto;
        max-height: 430px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    &-wrapper2 {      
      margin-top: 25px;
      // max-width: 1410px;
      // max-height: 280px;      
      // width: 100%;
      display: flex;      
      justify-content: space-between;  
      img {        
        width: 23.5%;
        height: auto;
      }    
    }    
  }
  button {
    @include common-red-button();
    margin: 30px 0;
  }
}

// ------------------------------------------------------------------------------
// ---------------------------Для фитнес клубов----------------------------------
// ------------------------------------------------------------------------------

.fitclub-equip {
  margin: 0 15px;  
  &-cards {
    &-wrapper1 {
      display: flex;
      justify-content: space-between;      
      img:nth-of-type(1) {        
        width: 49%;
        height: auto;
      }
      img:nth-of-type(2), img:nth-of-type(3) {        
        width: 23.5%;
        height: auto;
      }
    }
    &-wrapper2 {
      margin-top: 25px;
      display: flex;
      justify-content: space-between;
      img {
        width: 23.5%;
        height: auto;
      }
    }
  }
  button {
    @include common-red-button();
    margin: 30px 0;
  }
}
// ------------------------------------------------------------------------------
// ---------------------------Акции и спецпредложения----------------------------
// ------------------------------------------------------------------------------
.promo {
  margin: 0 15px;
  &-menu {
    margin-top: 124px;
    vertical-align: middle;
    h2 {
      margin: 0;
      display: inline-block;
      margin-right: 30px;
    }
    h2:nth-of-type(2), h2:nth-of-type(3) {
      color: #828282;
      font-weight: 800;
      font-size: 20px;
      line-height: 24px;
    }
  }  
}
.promo-cards {
  margin: 0 15px;
  margin-top: 30px;
  display: flex;
  justify-content: start;
  &-card {
    background-color: #fff;    
    position: relative;
    max-width: 300px;
    max-height: 505px;
    min-width: 220px;
    min-height: 387px;
    border-radius: 6px;
    margin-right: 30px;
    display: flex;
    flex-wrap: wrap;
    transition: 0.5s;
    &:hover {
      transition: 0.5s;
      filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.12)) drop-shadow(0px 4px 30px rgba(19, 15, 38, 0.1));
    }
    > img {
      border-radius: 6px 6px 0 0;
      width: 100%;
      max-width: 300px;
      max-height: 300px;
      min-width: 220px;
      min-height: 220px;
      height: auto;      
    }
    &:hover {
      .thumb-up, .new {
        transition: 0.5s;
        margin-left: 10px;
      }
    }
  }
}
.promo-cards-card-icons-left {  
  position: absolute;
  z-index: 1;
  // background-color: violet;
  display: flex;
  justify-content: space-between;
  top: 10px;
  left: 10px;  
  max-width: 200px;
  display: flex;    
  .discount_round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: $red;
    border-radius: 50%;
  }
  .thumb-up {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    margin-left: -10px;
    background-color: $blue; 
    border-radius: 50%;
    transition: 0.5s;
  }
  .new {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    margin-left: -10px;
    background-color: $lime-green;
    border-radius: 50%;
    transition: 0.5s;
  }  
}

.promo-cards-card-icons-right {
  position: absolute;
  z-index: 1;
  top: 19px;
  right: 10px;
  display: flex;
  align-items: center;
  // background-color: violet;
  img:nth-of-type(1) {    
    width: 80%;
    height: auto;
  }
  img:nth-of-type(2) {
    margin-left: 8px;
    width: 100%;
    height: auto;
  }
}
.promo-cards-card-descr {
  margin: 5px 20px 26px 20px;  
  // border: 1px dotted blue;
  p:first-of-type {
    display: inline-block;    
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin-right: 4px;
  }

  .indicator-circle {
    display: inline-block;
    box-sizing: border-box;      
    width: 8px;
    height: 8px;
    margin-left: 2px;    
    border-radius: 50%;
  }
  p:nth-of-type(2) {
    display: inline-block;
    margin-left: 8px;
    color: $blue;    
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }
  p:nth-of-type(3) {
    display: inline-block;
    margin: 0;    
    font-size: 16px;    
    line-height: 24px;    
    color: #1a1a25;    
  }
  .rating-stars {    
    display: flex;
    align-items: center;
    margin-top: 8px;
    p {
      margin: 0 4px 0 0;
      font-weight: 500;    
      font-size: 12px;    
      line-height: 15px;    
      color: $lgray;    
    }
    img {      
      margin-bottom: 2px;
      margin-right: 1px;
    }
  }
  
  .buy-price-wrap {
    margin: 17.5px 0px 26px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      .card-price {
        display: block;
        margin: 0;
        font-weight: 700;    
        font-size: 17px;    
        line-height: 136%;    
        color: #1a1a25;    
      }
      .card-old-price {
        display: block;
        margin: 0;       
        font-size: 16px;    
        line-height: 136%;    
        color: #858FA4;
        text-decoration: line-through;
      }
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $red;
      border: 0;
      border-radius: 4px;
      height: calc(42px + 0.6vw);
      max-height: 49px;    
      width: 47%;
      color: white;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      img {
        margin-right: 9px;
      }
      &:hover {
        background-color: $hover-red;
      }
    }
  }  
}
.promo-button {
  @include common-red-button;
  margin: 30px 0 103px 15px;
}
// ------------------------------------------------------------------------------
// ---------------------------Идеи и подборки------------------------------------
// ------------------------------------------------------------------------------
#main-ideas {
  background-color: $dgray;
  .frame {
    padding-top: 119px;
    h2 {
      display: block;
      margin: 30px 15px;
      color: white;         
    }
    .ideas-img-container {
      margin: 0 15px;
      display: flex;
      justify-content: space-between;
      img:nth-of-type(1) {
        width: 49%;
        height: auto;
      }
      img:nth-of-type(2), img:nth-of-type(3) {
        width: 23.5%;
        height: auto;
      }
    }
    .ideas-button {
      @include common-red-button;
      border-color: white;
      color: white;
      margin: 30px 0 102px 15px;
      &:hover {
        color: $dgray;
        background-color: white;
      }
    }
  }
}
// ------------------------------------------------------------------------------
// ---------------------------Популярные бренды------------------------------------
// ------------------------------------------------------------------------------
#main-popular-brands {
  .frame {
    .pop-brands-container {
      margin: 0 15px;
      padding-top: 120px;
      h2 {
        padding-left: 0;
        font-size: 30px;
      }
      .pop-brands-categories {
        margin: 30px 0;
        padding-left: 0;
        li {
          display: inline-block;
          margin-right: 30px;
          text-decoration: none;
          font-size: 16px;
          line-height: 20.8px;
          font-weight: 500;
          color: $txt;
        }
      }
      .pop-brands-brands {
        display: flex;
        border: 1px solid rgba(133, 143, 164, 0.2);        
        flex-wrap: wrap;        
        &-row {
          display: flex;         
          .pop-brands-brand {
            box-sizing: border-box;            
            width: 20%;
            height: auto;
          }
        }        
      }
      button {
        @include common-red-button();
        margin: 30px 0;
      }      
    }
  }
}
// ------------------------------------------------------------------------------
// ---------------------------Помощь покупателю------------------------------------
// ------------------------------------------------------------------------------
#main-help {
  .frame {
    .main-help-cont {
      margin: 0 15px;
      display: flex;
      height: 470px;      
      .main-help-white-block {
        margin: 125px 0 40px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
        background-color: #fff;
        border: 1px solid #858FA433;
        width: 25%;
        height: 65%;
        > img {
          margin-top: 27px;
        }
        h3 {
          font-size: 20px;
          line-height: 24px;
          font-weight: 800;
          color: $dgray;
          margin-bottom: 10px;
        }
        p {
          margin: 0px 47.25px 20px 47.25px;            
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: center;
          color: $txt;            
        }
        div {
          position: relative;
          margin-bottom: 40px; 
          a {
            display: inline-block;                       
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 17px;
            letter-spacing: 0em;
            text-decoration: none;
            color: $red;
          }
          img {
            position: relative;
            top: 1px;
            margin-left: 8px;
          }      
        }          
      }
      .main-help-red-block {
        margin: 102px 0 40px 0;
        // padding-top: 33px;
        background-color: $red;
        display: flex;          
        width: 25%;
        height: 70%;
        box-sizing: border-box;
        border-radius: 6px 6px 0px 0px;
        .main-help-red-block-col1 {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          margin: 0px 9px 0px 38px;
          width: 48.2%;
          height: 100%;
          // > img {
          //   padding-top: 33px;
          // }
          h3 {              
            margin: 0;
            padding: 0;  
            padding-top: 15px;
            // margin-bottom: 10px;            
            line-height: 24px;
            font-weight: 800;
            color: white;              
          }
          p {
            margin: 0;
            padding: 0;
            padding-top: 10px;                 
            font-size: 16px;              
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;              
            color: #F6F6F6;         
          }
          div {
            position: relative;
            padding-top: 20px;
            a {
              margin: 0;
              padding: 0;          
              display: inline-block;                       
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: 17px;
              letter-spacing: 0em;
              text-decoration: none;
              color: white;
            }
            img {
              position: relative;
              top: 1px;
              margin-left: 8px;
            }
          }
        }
        .main-help-red-block-col2 {
          display: flex;            
          flex-direction: column;
          justify-content: end;
          width: 38.6%;
          height: auto;  
        }
      }
    }
  }
}

// ------------------------------------------------------------------------------
// ---------------------------О компании-----------------------------------------
// ------------------------------------------------------------------------------
#main-about-company {
  position: relative;
  .russia-map {
    position: absolute;
    right: 1px;
    bottom: -40px;
    width: 56.8%;
    height: auto;
  }
  .frame {
    .about-company-descr {
      margin-top: 120px;
      margin-left: 15px;
      width: 39.7%;
      height: auto;
      h2 {
        margin-top: 0;        
      }
      h3 {
        font-size: 34px;
        line-height: 48px;
        font-weight: 400;
        color: $txt;
      }
      p {
        font-size: 18px;
        line-height: 27px;
        color: $txt;
      }
      button {
        @include common-red-button();
        margin-top: 40px;
      }
    }
  }
}

// ------------------------------------------------------------------------------
// ---------------------------Партнёрство (стать партнёром)----------------------
// ------------------------------------------------------------------------------
#main-partnership {
  margin-top: 96px;
  .frame {
    .main-partnership-cont {
      margin: 0 15px;
      background-color: $dgray;
      display: flex;
      justify-content: space-evenly;
      img {
        width: 34.32%;
        height: auto;
      }
      .main-partnership-descr {
        width: 40.56%;
        height: auto;
        align-self: center;
        p {
          font-weight: 500;
          font-size: 36px;
          line-height: 43px;
          color: white;
          span {
            color: $red;
          }
        }
        button {          
          @include common-red-button();
          color: white;
          border-color: rgba(255, 255, 255, 0.7);
          &:hover {
            color: $dgray;
            background-color: #fff;
          }
        }
      }
    }
  }
}
// ------------------------------------------------------------------------------
// ---------------------------Новости, блог--------------------------------------
// ------------------------------------------------------------------------------
#main-news-and-blog {
  // display: flex;
  // justify-content: flex-end;
  .frame {
    // width: 87.8%;
    // max-width: 1684px;
    // border: 1px dotted blue;    
    position: relative;
    h2 {
      display: inline-block;
      margin-left: 15px;
    }
    > h3 {
      position: absolute;
      display: inline-block;
      margin-left: 30px;
      top: 10px;
      color: #828282;
    }
    .main-news {
      margin-left: 15px;
      display: flex;
      flex-wrap: nowrap;
      position: relative;   
      &-card {        
        max-width: 315px;
        margin-right: 30px;
        // img {
        //   width: 100%;
        //   height: auto;
        // }
        h3 {
          max-width: 230px;
          color: $dgray;
        }
        &-descr {
          max-width: 230px;
          color: $txt;
          font-size: 16px;
          line-height: 24px;
        }
        &-date {          
          color: $dgray;
          font-size: 16px;
          line-height: 24px;
        }
      }
      span {
        position: absolute;
        top: 70px;
        right: 24px;
        // top: 16%;
        // right: 1.7%;
      }      
      div:nth-of-type(5) {
        filter:opacity(50%)
      }
    }
    button {
      margin-left: 15px;
      @include common-red-button();
      margin-top: 40px;
      margin-bottom: 60px;
    }
  }
}
// ------------------------------------------------------------------------------
// ---------------------------Подвал---------------------------------------------
// ------------------------------------------------------------------------------
footer {
  background-color: $dgray;  
  .frame {    
    .footer-row1 {
      margin: 0 80px 0 15px;
      width: 1345px;      
      display: flex;
      // flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      border-bottom: 3px solid rgba(133, 143, 164, 0.15);
    }
    .footer-row3 {
      margin-right: 80px;
      width: 1345px;
    }
  }
}
.footer-nav {
  width: 63%;
  height: 68%;
  display: flex;
  justify-content: space-between;
  margin-top: 88px; 
  &-ul {
    margin: 0;
    padding: 0;
    min-width: 200px;
    margin-right: 30px;
    // border: 1px dotted blue;
    .footer-nav-li-head {
      list-style: none;
      margin-bottom: 30px;
      a {
        font-size: 16px;
        line-height: 21px;
        font-weight: 500;
        color: $white;
        text-decoration: none;
      }
    }
    .footer-nav-li {
      list-style: none;
      margin-bottom: 12px;
      a {
        font-size: 16px;
        line-height: 21px;
        font-weight: 500;
        color: $gray4;
        text-decoration: none;
      }
    }
  }
}
.footer-contacts {
  margin-top: 82px; 
  width: 19%;
  display: flex;
  flex-direction: column;
  &-subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0;
    appearance: none;
    box-sizing: border-box;
    background: rgba(133, 143, 164, 0.15);
    border-radius: 5px;
    &:hover {
      color: $white;
      background-color: $txt;
    }
    span {
      padding: 14px;
      color: $gray4;
      font-size: 14px;
      line-height: 20px;
    }
    img {
      padding: 14px;
    }
  }
  &-phones {
    margin-top: 50px;
    span {
      display: inline-block;
      margin-bottom: 8px;
      color: $gray4;
      font-size: 16px;
      line-height: 23px;
      font-weight: 500;
    }
    > a {
      text-decoration: none;
      color: $white;
      font-size: 14px;
      line-height: 20px;      
    }    
  }
  &-email {
    margin-top: 20px;
    span {
      display: inline-block;
      margin-bottom: 8px;
      color: $gray4;
      font-size: 16px;
      line-height: 19px;
      font-weight: 400;
    }
    a {
      text-decoration: none;
      color: $white;
      font-size: 14px;
      line-height: 20px; 
    }
  }
  &-agreements {
    margin-top: 37px;
    margin-bottom: 27px;
    a {
      display: inline-block;
      margin-bottom: 7px;
      text-decoration: none;
      color: $blue;
      font-size: 14px;
      line-height: 20px; 
    }
    a:nth-of-type(2) {
      margin-bottom: 0;
    }
  }
}

.footer-partnership {
  width: 1345px;
  display: flex;  
  align-items: center;
  &-block1 {
    width: 460px;
  }
  &-block2 {
    width: 230px;
    img {
      padding-right: 10px;
    }
  }
  &-block3 {
    width: 395px;
    button {
      appearance: none;
      padding: 10px;
      box-sizing: border-box;
      border-radius: 6px;
      font-size: 14px;
      line-height: 17px;
      font-weight: 700;
    }
    button:nth-of-type(1) {
      border: 0; 
      background-color: $txt;
      color: $white;      
    }
    button:nth-of-type(2) {
      margin-left: 30px;
      border: 1px solid rgba(144, 156, 181, 0.5);
      background-color: transparent;   
      color: $gray4; 
    }
  }
  &-block4 {
    margin-top: 0;
  }
}
.main-copyright {  
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: $gray4;
}

// ------------------------------------------------------------------------------
// ---------------------------Технические индикаторы-----------------------------
// ------------------------------------------------------------------------------
.in-stock {
  color: $lime-green;
}
.limited-stock {
  color: #F99808;
}
.out-of-stock {
  color: $red;
}
.green-filled {
  border: 0.5px solid $lime-green;
  background-color: $lime-green;
}
.green-empty {
  border: 0.5px solid $lime-green;  
}
.orange-filled {
  border: 0.5px solid #F99808;
  background-color: #F99808;
}
.orange-empty {
  border: 0.5px solid #F99808;  
}
.red-empty {
  border: 0.5px solid $red;  
}



// ------------------------------------------------------------------------------
// ---------------------------Медиазапросы---------------------------------------
// ------------------------------------------------------------------------------


@media (max-width: 1409px) {
  body {
    background-color: $red;
  }
  // .fitclub-equip {
  //   &-cards {      
  //     img {        
  //       height: 190px;
  //     }
  //   }
  // } 
}

@media (max-width: 959px) {
  body {
    background-color: goldenrod;
  }
  // .fitclub-equip {
  //   &-cards {      
  //     img {        
  //       height: 140px;
  //     }
  //   }
  // }
}