// ---------------------------Подвал, основные стили---------------------------------------------
footer {
	background-color: $dgray;  
	.frame {    
	  .footer-row1 {
		 margin: 0 80px 0 15px;
		 width: 1345px;      
		 display: flex;      
		 flex-wrap: wrap;
		 justify-content: space-between;      
	  }
	  .footer-row3 {
		 margin-right: 80px;
		 margin-left: 15px;
		 width: 1345px;
	  }
	}
 }
 .footer-nav {
	width: 63%;
	height: 68%;
	display: flex;
	justify-content: space-between;
	margin-top: 88px; 
	&-ul {
	  margin: 0;
	  padding: 0;
	  min-width: 200px;
	  margin-right: 30px;
	  // border: 1px dotted blue;
	  .footer-nav-li-head {
		 list-style: none;
		 margin-bottom: 30px;
		 a {
			font-size: 16px;
			line-height: 21px;
			font-weight: 500;
			color: $white;
			text-decoration: none;
		 }
	  }
	  .footer-nav-li {
		 list-style: none;
		 margin-bottom: 12px;
		 a {
			font-size: 16px;
			line-height: 21px;
			font-weight: 500;
			color: $gray4;
			text-decoration: none;
		 }
	  }
	}
 }
 .footer-contacts {
	margin-top: 82px; 
	width: 20%;
	display: flex;
	flex-direction: column;
	&-subscribe {
	  border-radius: 5px;
	  &-button {
		 display: flex;
		 justify-content: space-between;
		 align-items: center;
		 border: 0;
		 appearance: none;
		 box-sizing: border-box;
		 background: rgba(133, 143, 164, 0.15);
		 border-radius: 5px;
		 span {
			padding: 14px;
			color: $gray4;
			font-size: 14px;
			line-height: 140%;
		 }
		 img {
			padding: 14px;
		 }
		 &:hover {
			color: $white;
			background-color: $txt;            
		 }
	  }
	  &:hover {      
		 .footer-subscribe-success {
			color: $lime-green;
		 }      
	  }    
	  .footer-subscribe-success {
		 color: transparent;
		 margin-bottom: 0;
	  }
	  // &:focus {
	  //   color: $red;
	  //   background-color: $txt;
	  //   &::after {
	  //     content: "Вы успешно подписались";
	  //     color: $lime-green;
	  //     font-size: 14px;
	  //     line-height: 20px;
	  //   }
	  // }
	}
	&-phones {
	  margin-top: 20px;
	  span {
		 display: inline-block;
		 margin-bottom: 8px;
		 color: $gray4;
		 font-size: 16px;
		 line-height: 23px;
		 font-weight: 500;
	  }
	  > a {
		 text-decoration: none;
		 color: $white;
		 font-size: 14px;
		 line-height: 20px;      
	  }    
	}
	&-email {
	  margin-top: 20px;
	  span {
		 display: inline-block;
		 margin-bottom: 8px;
		 color: $gray4;
		 font-size: 16px;
		 line-height: 19px;
		 font-weight: 400;
	  }
	  a {
		 text-decoration: none;
		 color: $white;
		 font-size: 14px;
		 line-height: 20px; 
	  }
	}
	&-agreements {
	  margin-top: 37px;
	  margin-bottom: 27px;
	  a {
		 display: inline-block;
		 margin-bottom: 7px;
		 text-decoration: none;
		 color: $blue;
		 font-size: 14px;
		 line-height: 20px; 
	  }
	  a:nth-of-type(2) {
		 margin-bottom: 0;
	  }
	}
 }
 
 .footer-partnership {
	margin-top: 51px;  
	width: 1345px;
	display: flex;  
	align-items: center;
	&-block1 {
	  width: 460px;
	}
	&-block2 {
	  width: 230px;
	  img {
		 padding-right: 10px;
	  }
	}
	&-block3 {
	  width: 395px;
	  button {
		 appearance: none;
		 padding: 10px;
		 box-sizing: border-box;
		 border-radius: 6px;
		 font-size: 14px;
		 line-height: 17px;
		 font-weight: 700;
	  }
	  button:nth-of-type(1) {
		 border: 0; 
		 background-color: $txt;
		 color: $white;      
	  }
	  button:nth-of-type(2) {
		 margin-left: 30px;
		 border: 1px solid rgba(144, 156, 181, 0.5);
		 background-color: transparent;   
		 color: $gray4; 
	  }
	}
	&-block4 {
	  margin-top: 0;
	}
 }
 .main-copyright {
	display: inline-block;
	margin-left: 15px;
	padding-bottom: 30px;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color: $gray4;
 }
 .footer-row2 {
	display: none;  
}

// --------------------Подвал--------------------
@media (max-width: 1409px) {
	.footer-contacts {
      display: none !important;
    }
    .footer-row1 {
      width: inherit !important;
      margin: 0 15px;
      .footer-nav {
        width: inherit !important;
        height: auto !important;
        .footer-nav-ul {
          margin-right: 0;
          min-width: 0;
        }
        .footer-nav-ul:nth-of-type(1) {
          margin-top: 0;
          width: 160px;
        }
        .footer-nav-ul:nth-of-type(2) {
          margin-top: 0;
          width: 200px;
        }
        .footer-nav-ul:nth-of-type(3) {
          margin-top: 0;
          width: 137px;
        }
        .footer-nav-ul:nth-of-type(4) {
          margin-top: 0;
          width: 220px;
        }
      }
    }
    .footer-row2 {
      width: inherit !important;
      margin: 60px 15px 0 15px;      
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .footer-contacts-phones {        
        margin-top: 0;
        width: 160px;
      }
      .footer-contacts-email {
        margin-top: 0;
        width: 200px;
      }
      .footer-contacts-become-partner {
        margin-top: 0;
        width: 137px;
        a {
          display: block;
          font-size: 16px;
          line-height: 130%;
          text-decoration: none;
          color: $gray4;
          margin-bottom: 8px;
        }
      }
      .footer-contacts-subscribe {
        margin-top: 0;
        width: 220px;
        display: flex;
        flex-direction: column;
        button {
          span {
            font-size: 12px;
          }
          img {
            padding-left: 0;
          }
        }
        .footer-contacts-agreements {
          display: flex;
          flex-direction: column;
          margin-top: 18px;
        }
      }
      .footer-social-mobile {
        display: none;
      }
      .footer-privacy-policy {
        display: none;
      }
    }
    .footer-row3 {
      margin: 0 15px;
      .footer-partnership {
        &-block1 {
          width: 508px;
        }
        &-block2 {
          width: 170px;
        }
        &-block3 {
          display: none !important;
        }
      }    
  	}
}

// ---------------------Подвал------------------
@media (max-width: 959px) {
	#footer {
		.frame {
		  .footer-row1 {
			 width: auto !important;
			 margin: 0 10px !important;
			 .footer-nav {
				margin-top: 0px;
				flex-wrap: wrap;
				.footer-nav-ul {
				  width: 50%;
				  .footer-nav-li-head {
					 margin-top: 27px !important;
					 a {
						font-size: 16px !important;
						line-height: 130% !important;
						margin-bottom: 16px !important;
					 }
				  }
				  .footer-nav-li {
					 a {
						font-size: 14px !important;
						line-height: 140% !important;
						margin-bottom: 8px !important;
					 }
				  }
				}
			 }
		  }
		  .footer-row2 {
			 flex-wrap: wrap;
			 margin: 30px 10px 0 10px !important;
			 .footer-contacts-become-partner {
				order: -1;
				width: 100% !important;
				a {
				  font-size: 14px !important;
				  line-height: 140% !important;
				}
			 }
			 .footer-contacts-subscribe {
				margin-top: 30px;
				order: 0;
				width: 100% !important;
				.footer-contacts-subscribe-button {
				  
				  width: 300px;
				}
				.footer-subscribe-success {
				  font-size: 12px;
				  line-height: 15px;
				}
				.footer-contacts-agreements {
				  display: none;            
				}          
			 }
			 .footer-contacts-phones {
				margin-top: 10px !important;
				order: 1;
				width: 100% !important;
				display: flex;
				flex-wrap: wrap;          
				a {
				  font-size: 12px !important;
				  line-height: 15px !important;
				}
			 }
			 .footer-contacts-email {
				order: 2;
				width: 100% !important;
				span {
				  font-size: 14px;
				  line-height: 140%;
				  margin: 30px 0 0 0 !important;
				}
				a {
				  margin-top: 12px;
				  font-size: 12px !important;
				  line-height: 15px !important;
				}
			 }
			 .footer-privacy-policy {
				margin-top: 30px;
				display: flex !important;
				order: 3;
				width: 100%;
				a {
				  text-decoration: none;
				  font-size: 14px;
				  line-height: 20px;
				  color: $blue;
				}
			 }
			 .footer-social-mobile {
				margin-top: 30px;
				display: flex !important;
				order: 4;
				width: 132px;
				justify-content: space-between;
			 }
		  }
		  .footer-row3 {
			 flex-wrap: wrap;
			 .footer-partnership {
				width: 300px;
				margin-top: 89px;
				display: flex;
				flex-wrap: wrap;
				.footer-partnership-block1 {
				  width: 60% !important;
				}
				.footer-partnership-block2 {
				  display: none !important;
				}
				.footer-partnership-block3 {
				}
				.footer-partnership-block4 {
				  margin-top: 19px;
				}
			 }
		  }
		  .main-copyright {
		  }
		}
	}
}