// ---------------------------Помощь покупателю------------------------------------
// ------------------------------------------------------------------------------
#main-help {
	.frame {
	  .main-help-cont {
		 margin: 0 15px;
		 display: flex;
		 align-items: flex-end;
		 // height: 352px;      
		 .main-help-white-block {
			margin: 5px 0 40px 0;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			box-sizing: border-box;
			background-color: #fff;
			border: 1px solid #858FA433;
			width: 25%;
			height: auto;
			> img {
			  margin-top: 27px;
			}
			h3 {
			  font-size: 20px;
			  line-height: 24px;
			  font-weight: 800;
			  color: $dgray;
			  margin-bottom: 10px;
			}
			p {
			  margin: 0px 47.25px 20px 47.25px;            
			  font-size: 16px;
			  font-style: normal;
			  font-weight: 400;
			  line-height: 24px;
			  letter-spacing: 0em;
			  text-align: center;
			  color: $txt;            
			}
			div {
			  position: relative;
			  margin-bottom: 40px; 
			  a {
				 display: inline-block;                       
				 font-size: 14px;
				 font-style: normal;
				 font-weight: 600;
				 line-height: 17px;
				 letter-spacing: 0em;
				 text-decoration: none;
				 color: $red;
			  }
			  img {
				 position: relative;
				 top: 1px;
				 margin-left: 8px;
			  }      
			}          
		 }
		 .main-help-red-block {
			margin: -18px 0 40px 0;
			// padding-top: 33px;
			background-color: $red;
			display: flex;          
			width: 25%;
			height: auto;
			box-sizing: border-box;
			border-radius: 6px 6px 0px 0px;
			.main-help-red-block-col1 {
			  display: flex;
			  justify-content: center;
			  align-items: flex-start;
			  flex-direction: column;
			  margin: 0px 9px 0px 38px;
			  width: 48.2%;
			  height: 100%;
			  > img {
				 padding-top: 33px;
			  }
			  h3 {              
				 margin: 0;
				 padding: 0;  
				 padding-top: 15px;
				 // margin-bottom: 10px;            
				 line-height: 24px;
				 font-weight: 800;
				 color: white;              
			  }
			  p {
				 margin: 0;
				 padding: 0;
				 padding-top: 10px;                 
				 font-size: 16px;              
				 font-weight: 400;
				 line-height: 24px;
				 letter-spacing: 0em;              
				 color: #F6F6F6;         
			  }
			  div {
				 position: relative;
				 padding-top: 20px;
				 padding-bottom: 20px;
				 a {
					margin: 0;
					padding: 0;          
					display: inline-block;                       
					font-size: 14px;
					font-style: normal;
					font-weight: 600;
					line-height: 17px;
					letter-spacing: 0em;
					text-decoration: none;
					color: white;
				 }
				 img {
					position: relative;
					top: 1px;
					margin-left: 8px;
				 }
			  }
			}
			.main-help-red-block-col2 {
			  display: flex;            
			  flex-direction: column;
			  justify-content: end;
			  width: 38.6%;
			  height: auto;  
			}
		 }
	  }
	}
 }
@media (max-width: 1409px) {
	// ---------------------Помощь покупателю---------------
	#main-help {
      .frame {
        .main-help-cont {
          flex-wrap: wrap;
          .main-help-white-block {
            margin: 0;
            width: 50%;
            > img {
              margin: 30px 0 0 0 !important;
            }
            h3 {
              margin: 20px 0 0 0 !important;
            }
            p {
              margin: 20px 0 0 0 !important;
            }
            > div {
              margin: 20px 0 40px 0 !important;
            }
          }
          .main-help-red-block {
            margin: 0;
            width: 50%;
            justify-content: space-between;
            border-radius: 0;
            &-col1 {
              width: 55% !important;
              > img {
                margin: 20px 0 0 0 !important;
                padding: 0px !important;
              }
              h3 {
                margin: 10px 0 0 0 !important;
                padding: 0px !important;
              }
              p {
                margin: 10px 0 0 0 !important;
                padding: 0px !important;
                font-size: 14px !important;
              }
              div {
                margin: 10px 0 34px 0 !important;
                padding: 0px !important;                
              }
            }
            &-col2 {
              width: 35% !important;
              > img {
                height: 72.5%;
              }
            }
          }
        }
      }
    }
}

@media (max-width: 959px) {
	// ---------------Помощь--------------------------
	#main-help {
		h3 {
		  font-size: 16px !important;
		  line-height: 110% !important;
		}
		p {
		  font-size: 14px !important;
		  line-height: 140% !important;
		}
		a {
		  font-size: 12px !important;
		  line-height: 15px !important;
		}
		.frame {
		  .main-help-cont {
			 margin: 0 10px !important;
			 .main-help-white-block:first-of-type {
				border-radius: 6px 6px 0px 0px;
			 }
			 .main-help-white-block:last-of-type {
				border-radius: 0px 0px 6px 6px;
			 }
			 .main-help-white-block {
				width: 100%;
				> img {
				  margin-top: 20px !important;
				}
				h3 {
				  margin: 10px 0 0 0 !important;
				}
				p {
				  margin: 8px 20px 0 20px !important;
				}
				a {
				  margin: 10px 0 20px 0 !important;
				}
				> div {
				  margin: 0 !important;
				}
			 }
			 .main-help-red-block {
				width: 100%;
				.main-help-red-block-col1 {
				  margin: 0 9px 0px 20px !important;
				  > div {
					 padding: 10px 0 20px 0 !important;
				  }
				}
				.main-help-red-block-col2 {            
				  > img {
					 height: 64.73% !important;
				  }
				}
			 }
		  }
		}
	 }
}