// ---------------------------Популярные бренды------------------------------------
// ------------------------------------------------------------------------------
#main-popular-brands {
	border-bottom: 1px solid rgba(133, 143, 164, 0.15);
	.frame {
	  .pop-brands-container {
		 margin: 0 15px;      
		 h2 {
			padding-left: 0;
			font-size: 30px;
		 }
		 .pop-brands-categories {        
			white-space: nowrap;
			margin: 30px 0;
			padding-left: 0;
			li {
			  display: inline-block;
			  margin-right: 30px;
			  text-decoration: none;
			  font-size: 16px;
			  line-height: 20.8px;
			  font-weight: 500;
			  color: $txt;
			}
		 }
		 .pop-brands-brands {
			display: flex;
			border: 1px solid rgba(133, 143, 164, 0.2);        
			flex-wrap: wrap;        
			&-row {
			  display: flex;         
			  .pop-brands-brand {
				 box-sizing: border-box;            
				 width: 20%;
				 height: auto;
			  }
			}        
		 }
		 .pop-brands-brands-row:nth-of-type(4) {
			display: none;
		 }
		 button {
			@include common-red-button();
			margin: 30px 0;
		 }      
	  }
	}
 }

@media (max-width: 1409px) {
// -----------------Популярные бренды----------
	#main-popular-brands {
	border-bottom: 0;
	}
	.pop-brands-brands-row {
		.pop-brands-brand {
			width: 25% !important;
		}
		img:nth-of-type(5) {
			display: none !important;
		}
	}
	.pop-brands-container button {
		margin: 30px 0 0 0 !important;
	}
}

@media (max-width: 959px) {
	// --------------Популярные бренды----------------
	.pop-brands-container {
		margin: 0 10px !important;
		.pop-brands-categories {
		  margin: 20px 0 0 0 !important;
		  li {
			 font-size: 12px !important;
			 line-height: 15px !important;
		  }
		}
		.pop-brands-brands {
		  margin-top: 26px;
		  .pop-brands-brands-row {
			 .pop-brands-brand {
				width: 33.33% !important;
			 }
			 img:nth-of-type(4) {
				display: none !important;
			 }
		  }
		  .pop-brands-brands-row:nth-of-type(4) {
			 display: flex !important;
		  }
		}
		button {
		  margin: 20px 0 0 0 !important;
		  font-size: 12px !important;
		  line-height: 15px !important;
		}
	 }
}