// ---------------------------Акции и спецпредложения----------------------------
// ------------------------------------------------------------------------------
.promo {
	margin: 0 15px;
	&-menu {
	  margin-top: 124px;
	  vertical-align: middle;
	  h2 {
		 margin: 0;
		 display: inline-block;
		 margin-right: 30px;
	  }
	  h2:nth-of-type(2), h2:nth-of-type(3) {
		 color: #828282;
		 font-weight: 800;
		 font-size: 20px;
		 line-height: 24px;
	  }
	}  
 }
 .promo-cards {
	margin: 0 15px;
	margin-top: 30px;
	display: flex;
	flex-wrap: nowrap;
	position: relative;
	&-card {
	  background-color: #fff;    
	  position: relative;
	  width: 300px;
	  height: 505px;
	  border-radius: 6px;
	  margin-right: 30px;
	  display: flex;
	  flex-wrap: wrap;
	  transition: 0.5s;
	  &:hover {
		 transition: 0.5s;
		 filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.12)) drop-shadow(0px 4px 30px rgba(19, 15, 38, 0.1));
	  }
	  > img {
		 width: 100%;
		 border-radius: 6px 6px 0 0;      
	  }
	  &:hover {
		 .thumb-up, .new {
			transition: 0.5s;
			margin-left: 10px;
		 }
	  }
	}
	.promo-cards-card:nth-of-type(5) {
	  filter: opacity(50%);
	  .indicator-circle, .promo-stock{
		 display: none;
	  }
	  .is-in-showroom {
		 margin-left: 0;
	  }
	}
	.promo-to-right-round-button {
	  @include to-right-round-button();
	  position: absolute;
	  z-index: 1;
	  top: 120px;
	  right: 95px;
	}
 }
 .promo-cards-card-icons-left {  
	position: absolute;
	z-index: 1;  
	display: flex;
	justify-content: space-between;
	top: 10px;
	left: 10px;  
	max-width: 200px;
	display: flex;    
	.discount_round {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  width: 36px;
	  height: 36px;
	  background-color: $red;
	  border-radius: 50%;
	}
	.thumb-up {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  width: 36px;
	  height: 36px;
	  margin-left: -10px;
	  background-color: $blue; 
	  border-radius: 50%;
	  transition: 0.5s;
	}
	.new {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  width: 36px;
	  height: 36px;
	  margin-left: -10px;
	  background-color: $lime-green;
	  border-radius: 50%;
	  transition: 0.5s;
	}  
 }
 
 .promo-cards-card-icons-right {
	position: absolute;
	z-index: 1;
	top: 19px;
	right: 10px;
	display: flex;
	align-items: center;
	// background-color: violet;
	img:nth-of-type(1) {    
	  width: 80%;
	  height: auto;
	}
	img:nth-of-type(2) {
	  margin-left: 8px;
	  width: 100%;
	  height: auto;
	}
 }
 .promo-cards-card-descr {
	margin: 5px 20px 26px 20px;
	width: 300px;
	height: auto;  
	// border: 1px dotted blue;
	.promo-stock {
	  display: inline-block;    
	  font-weight: 500;
	  font-size: 12px;
	  line-height: 15px;
	  margin-right: 4px;
	}
	.indicator-circle {
	  display: inline-block;
	  box-sizing: border-box;      
	  width: 8px;
	  height: 8px;
	  margin-left: -3px;   
	  border-radius: 50%;
	}
	.is-in-showroom {
	  display: inline-block;
	  margin-left: 1px;
	  color: $blue;    
	  font-weight: 500;
	  font-size: 12px;
	  line-height: 15px;
	}
	.promo-good-name {
	  display: inline-block;
	  margin: 0;    
	  font-size: 16px;    
	  line-height: 140%;    
	  color: #1a1a25;    
	}
	.rating-stars {    
	  display: flex;
	  align-items: center;
	  margin-top: 8px;
	  p {
		 margin: 0 4px 0 0;
		 font-weight: 500;    
		 font-size: 12px;    
		 line-height: 15px;    
		 color: $lgray;    
	  }
	  img {      
		 margin-bottom: 2px;
		 margin-right: 1px;
	  }
	}
	
	.buy-price-wrap {
	  margin: 17.5px 0px 26px 0px;
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  div {
		 .card-price {
			display: block;
			margin: 0;
			font-weight: 700;    
			font-size: 17px;    
			line-height: 136%;    
			color: #1a1a25;    
		 }
		 .card-old-price {
			display: block;
			margin: 0;       
			font-size: 16px;    
			line-height: 136%;    
			color: #858FA4;
			text-decoration: line-through;
		 }
	  }
	  button {
		 display: flex;
		 justify-content: center;
		 align-items: center;
		 background-color: $red;
		 border: 0;
		 border-radius: 4px;
		 height: calc(42px + 0.6vw);
		 max-height: 49px;    
		 width: 47%;
		 color: white;
		 font-weight: 700;
		 font-size: 14px;
		 line-height: 17px;
		 img {
			margin-right: 9px;
		 }
		 &:hover {
			background-color: $hover-red;
		 }
	  }
	}  
 }
 .promo-button {
	@include common-red-button;
	margin: 30px 0 0 15px;
 }

@media (max-width: 1409px) {
	 // --------------Акции и спецпредложения-----------------
    .promo-menu {
      margin-top: 80px;
    }
    .promo-cards {
      &-card {
        width: 270px;
        height: 475px;
      }
    }
    .promo-to-right-round-button {      
      top: 170px !important;
      right: 15px !important;
    }
}

@media (max-width: 959px) {
	// ------------Акции и спецпредложения--------------
	.promo {
		margin: 0 10px;
	 }
	 .promo-menu {
		white-space: nowrap;
		h2 {
		  font-size: 22px;
		  line-height: 24px;
		}
	 }
	 .promo-cards {
		margin: 30px 10px 0 10px;
		.promo-to-right-round-button {      
		  display: none !important;
		}
		&-card {
		  width: 219px;
		  height: 387px;
		  &-descr {
			 .promo-stock {
				margin: 0 !important;
			 }
			 // .indicator-circle {
			 //   margin: 0 !important;
			 // }
			 .is-in-showroom {
				margin: 0 !important;
			 }
			 .promo-good-name {
				font-size: 14px !important;
				margin-top: 8px;
			 }
			 .rating-stars {
				margin: 0 !important;
				margin-top: 8px !important;
			 }
			 .buy-price-wrap {
				div {
				  display: flex;
				  justify-content: space-between;            
				  .card-price {
					 font-size: 16px !important;
				  }
				  .card-old-price {
					 margin-left: 10px;
					 margin-top: 2px;
					 font-size: 14px !important;
				  }
				}
				.buy-button {
				  display: none !important;
				}
			 }
		  }
		}
	 }
	.promo-button {
		margin: 30px 10px 86px 10px;
		font-size: 12px;
		line-height: 15px;
	}
}